/* 
Margin
Border
padding
*/


/* .container {
    background-color: aquamarine;
    margin: 100px;
    padding: 100px;
    border: 10px dashed blue;
} */

.green {
    background-color: green;
    height: 100px;
    width: 100px;
}

.red {
    background-color: red;
    height: 150px;
    width: 100px;
}

.blue {
    background-color: blue;
    height: 200px;
    width: 100px;
}

.yellow {
    background-color: yellow;
    height: 250px;
    width: 100px;
}


/* flex box */


/* align items */


/* justify content */

.flex-box {
    display: flex;
    align-items: end;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
}


/* position properties */

.parent {
    margin: 100px;
    width: 300px;
    height: 300px;
    /* background-color: red; */
    position: relative;
}


/* hex code */


/* rgb */


/* rgba */


/* 0-255 */

.child {
    /* width: 50px;
    height: 50px; */
    /* background-color: rgb(255, 0, 0); */
    /* background-color: rgba(255, 0, 0, 0.5); */
    background-color: #979edc;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.img-container {
    position: relative;
    width: 400px;
}

.teacher-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
}

.img {
    height: 600px;
    border-radius: 16px;
}

.teacher-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
}

#tn:hover {
    color: red;
}

.img-container:hover .teacher-absolute {
    opacity: 1;
}